@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <h1 class="display-4">N Choose K Algorithm</h1>
    <p>
        N Choose K Algorithms are useful in any situation where a number of combinations is being sought. In this example,
        we're proposing that a man owns 8 shirts and wants to take 3 on vacation with him.
        How many possible combinations can he pack?
    </p>
    <p>
        The formula for solving N Choose K is:
        <br/>
        n! / ( n - k )! k!
    </p>
    <p>
        In our example we will input 7 as n and 3 as k so:<br />
        3! / ( 3 - 2 )! (2)
        <br />
        6 / 2
        <br />
        3
    </p>
    <p>
        Learn about other common Algorithms by clicking the button below:<br/>
        <a href="https://docs.microsoft.com/aspnet/core">Common Algorithms</a>
    </p>
</div>